@using Business.ViewModels.TeacherDashboard
@model LessonVM


<!-- Main Content -->
<div class="main-content">
    <header class="header">
        <h1>Buy Lesson</h1>
    </header>

    @if(Model.UserType == "Student"){
        <section class="dashboard-cards">

            @foreach (var lesson in Model.Lessons)
            {
                if (lesson.IsTaken == false)
                {
                    <div class="card">
                        <p>@lesson.Teacher.FullName</p>
                        <h3>@lesson.Name</h3>
                        <p>@lesson.LessonDate.ToString("yyyy-MM-dd") ,@lesson.LessonDate.ToString("HH:mm")</p>
                        <h3>$ @lesson.Price</h3>
                        <form asp-action="BuyLesson" method="post" onsubmit="return confirmBuy();">
                            <input type="hidden" name="lessonId" value="@lesson.Id" />
                            <button type="submit">Buy Lesson</button>
                        </form>
                    </div>
                }
            }

        </section>
    }

    else{
        <div style="width: 100% ; margin-bottom: 20px" class="addbutton">
            <a asp-controller="Dashboard" asp-action="AddLesson">
                <button>Add New Lesson</button>
            </a>
        </div>
        <section class="dashboard-cards">

            @foreach (var lesson in Model.Lessons)
            {
                if (lesson.Teacher.Id == Model.UserId && lesson.LessonDate >= DateTime.UtcNow)
                {
                    <div class="card">
                        <p>@lesson.Teacher.FullName</p>
                        <h3>@lesson.Name</h3>
                        <p>@lesson.LessonDate.ToString("yyyy-MM-dd") ,@lesson.LessonDate.ToString("HH:mm")</p>
                        <h3>$ @lesson.Price</h3>
                        @if (lesson.IsTaken)
                        {
                            <button>Taked</button>
                        }
                        else{
                            <button>Not Taked</button>
                        }
                    </div>
                }
            }

        </section>
    }
</div>

<script>
    function confirmBuy() {
        return confirm("Are you sure for buyying the lesson?");
    }
</script>
