@using Business.ViewModels.TeacherDashboard
@model DashboardIndexVM



	<!-- Main Content -->
	<div class="main-content">
		<header class="header">
			@if (Model.UserType == "Teacher")
			{
				<h1>Teacher Dashboard</h1>
			}
			else
			{
				<h1>Student Dashboard</h1>
			}
		</header>

		<!-- Dashboard Cards -->
		<section class="dashboard-cards">
			@if (Model.UserType == "Teacher")
			{
				<div class="card">
					<h3>Selled Lessons</h3>
				<p>@Model.Lessons.Where(l => l.IsTaken == true).Count()</p>
				</div>
				<div class="card">
					<h3>Your Income</h3>
				<p>$ @Model.Lessons.Where(l => l.IsTaken == true).Sum(l => l.Price)</p>

				</div>
				<div class="card">
					<h3>Lesson Count</h3>
					<p>@Model.Lessons.Count()</p>
				</div>
			}

			else
			{
				<div class="card">
					<h3>All Lessons</h3>
					<p>@Model.Lessons.Count()</p>
				</div>
				<div class="card">
					<h3>Your Expense</h3>
				<p>$ @Model.Lessons.Sum(l => l.Price)</p>
				</div>
				
			}


		</section>

		<!-- Balance & Available Dates -->
		<div class="row3">
			<div style="width:100%" class="balance-card">
				<div class="balance">
					<p>Your Balance</p>
					<h2>$ @Model.Balance</h2>
				</div>
				<div class="buttons">
					<a asp-action="Balance" asp-controller="Dashboard"><button>Increase Your Balance</button></a>
				</div>
			</div>


			
		</div>
	</div> <!-- End Main Content -->
	<!-- JavaScript Files -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/chart.js"></script>

