@using Business.ViewModels.TeacherDashboard
@model LessonVM


<div class="main-content">
    <header class="header">
        <h1>My Lessons</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Student</th>
                <th>Teacher</th>
                <th>Lesson Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Link</th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var lesson in Model.Lessons.OrderBy(l => l.LessonDate))
            {
                @if(lesson.IsTaken){
                <tr>
                    <td>@(lesson.Student != null ? lesson.Student.FullName : "N/A")</td>
                    <td>@(lesson.Teacher != null ? lesson.Teacher.FullName : "N/A")</td>
                <td>@lesson.Name</td>
                    <td>@lesson.LessonDate.ToString("yyyy-MM-dd")</td>

                    <td>@lesson.LessonDate.ToString("HH:mm")</td>


                        @if (DateTime.UtcNow.AddHours(4) >= lesson.LessonDate && DateTime.UtcNow.AddHours(4) <= lesson.LessonDate.AddHours(2)){
                            <td>
                                <a href="@Url.Action("Join", "VideoCall", new { lessonId = lesson.Id })">
                                    Join To Video Call
                                </a>
                            </td>
                        }
                        else{
                            <td>Not Available</td>
                        }

                       
                       
            </tr>
            }
            }
        </tbody>
    </table>
</div>